.header__number-subtitle {
  margin: 7px 0 0;
  font-family: "Proxima Nova", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 21px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #ffffff;
}
