.form__title {
  align-self: center;
  justify-self: right;
  font-family: "Proxima Nova", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 130%;
  letter-spacing: 0.01em;
  white-space: nowrap;
  transform: rotate(-90deg);
}
