.header__button{
    max-width: 198px;
    background-color: rgba(255, 255, 255, 0);
    border:1px solid rgb(255, 255, 255);
    padding: 17px 34px;
    white-space: nowrap;
    text-align: center;
}